<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}AALEH 2016{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('bundles/app/css/foundation.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/app/css/kube.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/app/css/orbit.css') }}" />
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('icono.ico') }}" />
    </head>
    <body >
    <div class="fondo" style="padding-bottom: 0px;padding-top: 0px;">
      <div class="page-wrap">
          <div class="row">
                  <img src="{{ asset('banner.png')}}" class="img-rounded img-responsive" width="100%">
          </div>
          <div class="row">
              <div class="contain-to-grid">
                <nav class="top-bar" data-topbar>
                  <ul class="title-area">
                    <li class="name">
                      <h1><a href=""></a></h1>
                    </li>
                    <li class="toggle-topbar menu-icon"><a href="">Menu</a></li>
                  </ul>
                  <section class="top-bar-section">
                    <ul class="left">
                      <li><a href="{{ path('home') }}">Home</a></li>
                      <li><a href="{{ path('call') }}">Call for Papers</a></li>
                      <li><a href="{{ path('instrucciones') }}">Instructions for Authors</a></li>
                      <li><a href="{{ path('programa') }}">Program</a></li>
                      <li><a href="{{ path('comite') }}">Committee</a></li>
                      <li><a href="{{ path('venue') }}">Venue</a></li>
                    </ul>
                  </section>
                  <section class="right"></section>
                </nav>
              </div>
          </div>
          <div class="row" style="background: white;">
          <div id="content-padding">
            <div class="large-12 columns">
              <img src="{{ asset('vegas1.jpg')}}" class="img-rounded img-responsive" width="100%" >
            </div>
          </div>
          </div>
          <div class="row" style="background: white;padding-left:5px;padding-top:10px;">
            {% block cols %}
            {#<div class="large-9 columns">#}
            {% endblock %}
              <div id="content" width="100%">
                <div id="content-padding">
              {% block content %}

              {% endblock %}
              </div>
              </div>
            </div>
            {#<div class="large-3 columns">#}
            {% block lateral %}
            {% endblock %}
            {#</div>#}
          </div>
      </div>
      <footer class="site-footer" style="background: white;max-width: 57.5rem;" >
        <div class="large-12 columns">
          <hr/>
          <div class="row">
            <div class="large-5 columns">
                <div style="padding-left: 10px;padding-right: 10px; ">
                <p style="font-size: 10px;">© Copyright. Workshop on Ambient Assisted Living and eHealth (AALEH 2016)</p>
                </div>
            </div>
            <div class="large-7 columns">
              
            </div>
          </div>
        </div>
      </footer>
      </div>
  <script src="{{asset('bundles/app/js/foundation.min.js')}}"></script>
  <script src="{{asset('bundles/app/js/foundation/foundation.js')}}"></script>
  <script src="{{asset('bundles/app/js/foundation/foundation.dropdown.js')}}"></script>
  <script src="{{asset('bundles/app/js/foundation/foundation.tab.js')}}"></script>
  <script src="{{asset('bundles/app/js/vendor/jquery.js')}}"></script>
  <script src="{{asset('bundles/app/js/foundation/foundation.topbar.js')}}"></script>
  <script src="{{asset('bundles/app/js/orbit.js')}}"></script>

<script>
 $(document).foundation();
</script>
    </body>
</html>
